<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Color Extractor</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .custom-file-input {
            display: none;
        }
        .custom-file-label {
            cursor: pointer;
        }
        .color-block {
            width: 50px;
            height: 50px;
            display: inline-block;
            margin-right: 20px;
            margin-bottom: 20px;
            border: 1px solid #ccc;
        }
        .hex-code {
            cursor: pointer;
            user-select: all;
        }
    </style>
</head>
<body>
<div class="container">
    <h1 class="mt-5">Upload an Image to Extract Colors</h1>
    <form action="{{ url_for('extract') }}" method="POST" enctype="multipart/form-data" class="mt-4">
        <div class="form-group">
            <div class="custom-file">
                <input type="file" name="image" id="image" accept="image/*" required class="custom-file-input">
                <label class="custom-file-label" for="image">Choose file</label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} mt-3" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div id="results" class="mt-5">
        <h2 class="mb-4">Extracted Colors:</h2>
        <div class="d-flex flex-wrap">
            {% for count, color in colors %}
                <div class="d-inline-block mr-5 mb-4">
                    <div class="color-block" style="background-color: rgb({{ color[0] }}, {{ color[1] }}, {{ color[2] }});"></div>
                    <div>
                        <p class="mb-1">Hex: <span class="hex-code">#{{ '{:02X}{:02X}{:02X}'.format(color[0], color[1], color[2]) }}</span></p>
                        <p class="mb-1">RGB: {{ color }}</p>
                        <p>Count: {{ count }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
</body>
</html>